<h1>Activation de votre compte sur Marché Direct</h1>
<p>Bonjour {{ user.username }},</p>
<p>Pour activer votre compte sur le Site Marché Direct, cliquez sur le lien ci-dessous.</p>
<a href="{{ 'https://localhost:4200/activate-account?token=' ~ token }}">Lien d'activation</a>
<p>Merci de votre fidélité !<br><strong>L'équipe de Marché Direct</strong></p>